#demo{
	width: 50%;
}

#dropdown{
	margin-right: 10px;
	margin-top: 18px;
}

#triBar{
	margin-top: 10px;
	width: 35px;
	height: 30px;
	text-align: center;
	
	border: solid 2px;

	border-radius: 6px;
	font-size: 14px;

}

#triBar img{
	margin-top: 2px;

}

.w3-dropdown-content{
	margin-top: 8px;
	margin-right: -1px;
}

#title{
	margin-left: 15px;
}

#sidebar{
	overflow: scroll;
	height: 70%;

 }

#main{
/*	height: 80%;
*/ }

 #intro{
 	text-align: center;
 	height: 20%;
 	border: solid;
 }

.iconImg{
/*	width: 100%;
*/	overflow: hidden;
}

.iconImgDiv{
	overflow: hidden;
}

.categoryTitle{
	background-color: red;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	
	text-align: center;
	border: solid;
	border-top: none;
}

.rightArrow{
	margin-right: 4px;
}

.leftArrow{
	margin-left: 4px;
}

.arrow{
/*	background-color: white;*/
	text-decoration: bold;
}

.categoryTotal{
	height: 520px;
	background-color: yellow;
	overflow: scroll;
}

.categoryBody{
	background-color: green;
	height: 480px;
}

