
/*Font override:*/
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", sans-serif;
  /* put your font up there.
When adding a new font, make it a class:

.w3-tangerine {
  font-family: 'Tangerine', serif;
}
   */


}


.w3-bar{
	overflow: hidden;
	font-size: 12pt;
}

 
h1{
	font-size: 50px;
}

.w3-opacity, .w3-hover-opacity:hover {
    opacity: 0.35;
}

.w3-hover-non-sepia:hover{filter:sepia(0%)}

.iconTexts:hover{
	opacity: 1;
}